<div><%= image_tag @post.image.url(:medium) %></div>
<h1><%= @post.title %></h1>
<h2><%= @post.link %></h2>
<p><%= @post.description %></p>
<p><%= @post.user.name %></p>

<div id="comment">
  <h2 class="comment_count"> <%= pluralize(@post.comments.count, "Comment") %></h2>
  <% @comments.each do |comment| %>
    <div class="comment">
      <p class="username">
        <%= comment.user.name %>
      </p>
      <p class="comment">
        <%= comment.content %>
      </p>
    </div>
  <% end %>
</div>

<%= render 'comments/form' %>

<p><%= link_to "Edit", edit_post_path %></p>
<p><%= link_to "Destroy", post_path(@post), method: :delete, data: { confirm: "Are you sure?"} %></p>
<p><%= link_to "Home", root_path %></p>